@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap');
@import "tailwindcss";


@layer base {
  html, body {
    font-family: 'Rajdhani', sans-serif;
  }
}

